header {
  height: 100vh;
  width: 100vw;
  background: url('/images/header/02-competa.jpg')no-repeat;
  background-size: 100%;
}

header .content{
    background: url(../images/images_other/logo/competa_logo-white.png);
    background-repeat: no-repeat;
    padding-top: 20%;
    position: absolute;
    left: 20%; top: 10%;
    min-width:300px;
    text-align: center;
}





